<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="login-content">
        <div class="login-form rounded-3">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false, controller: 'register' }, html: { class: 'needs-validation', novalidate: true }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="row">
              <div class="form-group col-md-6">
                <%= f.label :name, "Nombre" %>
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control border border-secondary", placeholder: "Nombre", :required => true %>
                <div class="invalid-feedback">
                  El nombre es requerido
                </div>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :email, "Email" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control border border-secondary", placeholder: "Email", :required => true %>
                <div class="invalid-feedback">
                  El email es requerido
                </div>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br/>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control border border-secondary", placeholder: "Password", :required => true %>
                <div class="invalid-feedback">
                  El password es requerido
                </div>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :password_confirmation, "Password confirmación" %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control border border-secondary", placeholder: "Password confirmación", :required => true %>
                <div class="invalid-feedback">
                  El password confirmación es requerido
                </div>
              </div>
            </div>
            <%= f.submit "Registrarme", class: "btn btn-primary btn-flat m-b-30 m-t-30", data: { action: 'register#validations' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
