<div id="<%= dom_id publication %>">
  <p>
    <strong>Title:</strong>
    <%= publication.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= publication.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= publication.price %>
  </p>

  <p>
    <strong>City:</strong>
    <%= publication.city %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= publication.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= publication.phone %>
  </p>

  <p>
    <strong>Visible:</strong>
    <%= publication.visible %>
  </p>

</div>
