<section id="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-12 w-75">
        <div class="card">
          <div class="card-body">
            <div class="user-profile">
              <div class="row">
                <div class="col-mb-12">
                  <div class="user-profile-name fs-2"><%= @publication.title %></div>
                  <div class="user-job-title fs-5"><%= @publication.city %></div>
                  <div class="user-Location"><%= date_format @publication.created_at %></div>
                  <hr>
                  <div class="ratings">
                    <h4 class="fs-6">Descripcion</h4>
                    <div class="rating-star">
                      <p class="text-justify fs-6"><%= @publication.description %></p>
                      <% if @publication.categories.count >= 1 %>
                        <h4 class="fs-6">Categorias</h4>
                        <% @publication.categories.each do |category| %>
                          <span class="badge bg-light text-dark"><i class="bi bi-check2-all"></i> <%= category.title %></span>
                        <% end %>
                      <% end %>
                      <hr>
                    </div>
                    <div class="rating-star d-flex align-items-center">
                      <span class="fw-bolder">Precio: </span><span class="badge badge-success"><i class="bi bi-cash-coin"></i> <%= @publication.price %></span>
                      <span class="fw-bolder">Telefono: </span><span class="badge badge-info"><i class="bi bi-telephone-fill"></i> <%= @publication.phone %></span>
                      <span class="fw-bolder">Dirección: </span><span class="badge badge-info"><i class="bi bi-pin-map"></i> <%= @publication.address %></span>
                      <% if @publication.user_id == current_user.id %>
                        <span><%= link_to "<i class=\"bi bi-journal-medical\"></i> Editar".html_safe, edit_publication_path(@publication), class: "btn btn-outline-secondary btn-sm" %></span>
                        <%= button_to "<i class=\"bi bi-trash\"></i> Eliminar".html_safe, @publication, method: :delete, form: { data: { turbo_confirm: 'Esta seguro de eliminar la publicación ?' } }, class: "btn btn-outline-danger btn-sm" %>
                      <% end %>
                      <hr>
                    </div>
                  </div>
                  <div class="col-mb-12">
                    <div class="ratings">
                      <h4 class="fs-6">Fotos:</h4>
                      <% @publication.images.each do |images| %>
                        <%= image_tag images, class: "", height: "150", width: "250" %>
                      <% end %>
                    </div>
                  </div>
                  <br><br>
                  <%= link_to "<i class=\"bi bi-arrow-bar-left\"></i>Regresar a publicaciones".html_safe, publications_path, class: "link-primary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>