<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
  <div class="nano">
    <div class="nano-content">
      <div class="logo"><a href="index.html"><!-- <img src="images/logo.png" alt="" /> --><span>Focus</span></a></div>
      <ul>
        <li class="label"><i class="bi bi-arrow-left-right"></i>Catalogo de publicaciones</li>
        <li><%= link_to "<i class=\"bi bi-journals\"></i>Ver todas".html_safe, publications_path %></li>
        <% if current_user %>
          <li><%= link_to "<i class=\"bi bi-journal-bookmark\"></i>Mis publicaciones".html_safe, my_publications_path %></li>
          <li><%= link_to "<i class=\"bi bi-journal-plus\"></i>Crear publicación".html_safe, new_publication_path %></li>
        <% end %>

        <% if current_user %>
          <li class="label" style="text-transform: lowercase;"><i class="bi bi-person-circle"></i><%= current_user.email.downcase %></li>
          <li><%= link_to "<i class=\"bi bi-door-closed\"></i>Salir".html_safe, destroy_user_session_path, data: { turbo_method: :delete } %></li>
        <% else %>
          <li class="label"><i class="bi bi-person-circle"></i> Inicio de session</li>
          <li><%= link_to "<i class=\"bi bi-door-open\"></i>Ingresar".html_safe, user_session_path %></li>
          <li><%= link_to "<i class=\"bi bi-file-person\"></i>Registrarme".html_safe, new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>