<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="login-form rounded-3">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false, controller: 'login' }, html: { class: 'needs-validation', novalidate: true }) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control border border-secondary", placeholder: "Email", :required => true %>
            <div class="invalid-feedback">
              El email es requerido
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control border border-secondary", placeholder: "Password", :required => true %>
            <div class="invalid-feedback">
              El password es requerido
            </div>
          </div>
          <div class="checkbox">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <%= f.submit "Ingresar", class: "btn btn-primary btn-flat m-b-30 m-t-30", data: { action: 'login#validations' } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
